RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} !(Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini) [NC]
RewriteCond %{REQUEST_URI} !scan\.html$ [NC]
RewriteRule ^.*$ /scan.html [L,R=302]
